<a href="https://colab.research.google.com/github/Kuakun55/linear-regression-/blob/main/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:
df=pd.read_csv('/content/MSFT.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-08-22,282.079987,282.459991,277.220001,277.750000,276.277466,25061100
1,2022-08-23,276.440002,278.859985,275.399994,276.440002,274.974396,17527400
2,2022-08-24,275.410004,277.230011,275.109985,275.790009,274.327850,18137000
3,2022-08-25,277.329987,279.019989,274.519989,278.850006,277.371643,16583400
4,2022-08-26,279.079987,280.339996,267.980011,268.089996,266.668671,27549300
...,...,...,...,...,...,...,...
120,2023-02-13,267.640015,274.600006,267.149994,271.320007,270.642120,44630900
121,2023-02-14,272.670013,274.970001,269.279999,272.170013,271.490021,37047900
122,2023-02-15,268.320007,270.730011,266.179993,269.320007,269.320007,28962200
123,2023-02-16,264.019989,266.739990,261.899994,262.149994,262.149994,29603600
124,2023-02-17,259.390015,260.089996,256.000000,258.059998,258.059998,29979600

In [ ]:
df.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.981200  0.983168  0.949086   0.948081 -0.147304
High       0.981200  1.000000  0.982892  0.979772   0.978666 -0.090335
Low        0.983168  0.982892  1.000000  0.980208   0.979669 -0.181223
Close      0.949086  0.979772  0.980208  1.000000   0.999613 -0.138078
Adj Close  0.948081  0.978666  0.979669  0.999613   1.000000 -0.135669
Volume    -0.147304 -0.090335 -0.181223 -0.138078  -0.135669  1.000000

In [ ]:
X=df[['Open','High','Low','Volume']]
y= df['Close']

In [ ]:
lms=LinearRegression()
lms.fit(X,y)

LinearRegression()

In [ ]:
predictions=lms.predict(X)
predictions

array([277.77295703, 277.55667095, 276.681481  , 276.20104006,
       269.83258961, 265.39220721, 261.49049292, 263.13892414,
       257.51092233, 257.76483109, 253.82429559, 257.01017809,
       257.66448864, 264.46673713, 266.71030927, 253.47461822,
       250.87199769, 245.94650267, 243.09713409, 243.45838922,
       241.25537656, 242.4174617 , 242.93247104, 237.02682743,
       240.92320907, 236.72528634, 239.87777642, 235.89100277,
       235.22649313, 240.29877273, 249.57684447, 248.4621178 ,
       248.52638546, 234.20933612, 228.78425558, 225.89952912,
       226.60134817, 233.45328125, 230.60604051, 238.11869056,
       236.79978322, 237.05947234, 240.04676433, 241.92932855,
       245.22307227, 249.22721792, 235.80235336, 228.59780014,
       235.17320475, 232.59089819, 229.11828631, 222.55895824,
       215.00306873, 217.53641107, 227.16559642, 228.90893026,
       225.96242435, 241.83754173, 246.39818022, 241.20939569,
       241.73446426, 241.68665026, 242.64290987, 239.74410662,
       244.19010705, 242.69489326, 247.32648032, 248.34453659,
       241.8961847 , 239.98012872, 252.6196338 , 253.18326054,
       255.28093353, 250.08269968, 245.42687052, 243.8097518 ,
       246.79059421, 247.56093049, 251.66405457, 255.50167942,
       259.1871515 , 248.22596243, 244.30131472, 239.63080814,
       241.75621379, 243.86321148, 235.27784352, 236.81533267,
       236.60727409, 237.20092595, 241.41396457, 238.5730603 ,
       240.3712112 , 226.91950866, 222.64159404, 222.15299634,
       230.86684168, 230.73506282, 235.4017997 , 237.94953043,
       237.43844007, 239.86758016, 236.85813363, 232.66379222,
       239.74772142, 243.3999492 , 241.83157352, 238.52717247,
       246.23448836, 247.83792641, 243.4892197 , 247.04727824,
       251.96319512, 262.2936922 , 261.31773583, 255.82686928,
       266.91349109, 269.36799025, 263.53983659, 262.94432542,
       272.89712999, 271.28956817, 268.33431382, 264.35316117,
       256.84498315])

In [ ]:
from sklearn  import metrics
metrics.mean_absolute_error(y,predictions)

1.2196987877238525

In [ ]:
lms.predict([[230,270,260,18000000]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([292.56540541])